/* center the game and remove margin */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* displaying the game with full screen with and bottom border as the ground */
.game {
  width: 100vw;
  border-bottom: 1px solid black;
  position: relative;
}

/* sticking the dino and the cactus to the floor */
.dino,
.cactus {
  position: absolute;
  bottom: 0;
 
}


.dino {
  left: 50px;
}

.cactus {
  right: 0;
  height: 100px;
}

#score {
  width: 200px;
  right: 10px;
  position: absolute;
  padding: 10px;
  top: 0px;
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 0px;
  font-size: 20px;
}

.jump {
  animation: dino-jump 0.9s;
}

.move {
  animation: cactus-move 2.8s infinite linear;
}

@keyframes cactus-move {
  0% {
    right: 0px;
  }

  100% {
    right: 150vw;
  }
}

@keyframes dino-jump {
  0% {
    margin-bottom: 0;
  }

  50% {
    margin-bottom: 250px;
  }
  75% {
    margin-bottom: 200;
  }

  100% {
    margin-bottom: 0;
  }
}

#startgame{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  font-size:x-large;
  flex-wrap: wrap;
  
}

